In [5]:
# 1. Import necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools as itls

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn import metrics

In [6]:
# 로또의 번호는 년도별로 어느정도 가치를 가졌을까? 
# 눈문의목적, 대상, 방법, 진행, 분석, 결과
df = pd.read_excel('lotto.xlsx', engine='openpyxl')

In [7]:
print(df.head())
print(df.shape)
print(df.info())

       년도    회차         추첨일  당첨자수            당첨금액  당첨자수.1       당첨금액.1  \
0  2023.0  1093  2023.11.11    13  1,967,040,750원      65  65,568,025원
1     NaN  1092  2023.11.04    16  1,583,289,844원      84  50,263,170원
2     NaN  1091  2023.10.28     9  2,898,470,459원      65  66,887,780원
3     NaN  1090  2023.10.21    11  2,386,494,614원      88  49,718,638원
4     NaN  1089  2023.10.14     9  2,978,522,167원      79  56,554,219원

   당첨자수.2      당첨금액.2  당첨자수.3   당첨금액.3   당첨자수.4  당첨금액.4   1   2   3   4   5  \
0    2928  1,455,575원  141232  50,000원  2327509  5,000원  10  17  22  30  35
1    3327  1,269,044원  160096  50,000원  2540721  5,000원   7  18  19  26  33
2    2873  1,513,299원  149578  50,000원  2481449  5,000원   6  20  23  24  28
3    2931  1,492,747원  143714  50,000원  2398962  5,000원  12  19  21  29  40
4    2825  1,581,517원  138575  50,000원  2338390  5,000원   4  18  31  37  42

    6  보너스
0  43   44
1  45   37
2  30   44
3  45    1
4  43   40
(1093, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1093 entries, 0 to 1092
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      22 non-null     float64
 1   회차      1093 non-null   int64
 2   추첨일     1093 non-null   object
 3   당첨자수    1093 non-null   int64
 4   당첨금액    1093 non-null   object
 5   당첨자수.1  1093 non-null   int64
 6   당첨금액.1  1093 non-null   object
 7   당첨자수.2  1093 non-null   int64
 8   당첨금액.2  1093 non-null   object
 9   당첨자수.3  1093 non-null   int64
 10  당첨금액.3  1093 non-null   object
 11  당첨자수.4  1093 non-null   int64
 12  당첨금액.4  1093 non-null   object
 13  1       1093 non-null   int64
 14  2       1093 non-null   int64
 15  3       1093 non-null   int64
 16  4       1093 non-null   int64
 17  5       1093 non-null   int64
 18  6       1093 non-null   int64
 19  보너스     1093 non-null   int64
dtypes: float64(1), int64(13), object(6)
memory usage: 170.9+ KB
None

In [8]:
# 2-1. 데이터 분석
df = df.drop(columns=['년도'])
# 3. Exploratory data analysis: Class Inbalance?
print(df['보너스'].value_counts())
print()
print(df['보너스'].value_counts()/np.float64(len(df)))

보너스
43    35
1     31
6     31
17    30
4     30
30    30
33    29
32    29
2     29
26    29
24    28
38    28
35    28
27    28
16    27
31    27
10    27
7     26
3     26
13    26
20    25
12    25
9     24
44    24
39    24
42    23
11    23
36    23
15    23
37    23
5     22
21    22
28    21
14    21
34    21
40    21
19    20
8     20
18    18
23    18
25    18
45    17
41    15
29    14
22    14
Name: count, dtype: int64

보너스
43    0.032022
1     0.028362
6     0.028362
17    0.027447
4     0.027447
30    0.027447
33    0.026532
32    0.026532
2     0.026532
26    0.026532
24    0.025618
38    0.025618
35    0.025618
27    0.025618
16    0.024703
31    0.024703
10    0.024703
7     0.023788
3     0.023788
13    0.023788
20    0.022873
12    0.022873
9     0.021958
44    0.021958
39    0.021958
42    0.021043
11    0.021043
36    0.021043
15    0.021043
37    0.021043
5     0.020128
21    0.020128
28    0.019213
14    0.019213
34    0.019213
40    0.019213
19    0.018298
8     0.018298
18    0.016468
23    0.016468
25    0.016468
45    0.015554
41    0.013724
29    0.012809
22    0.012809
Name: count, dtype: float64